<div>
  <h1 style="padding-right: 20px;">College Football Pick'em</h1>
<br>
<div class="row" style="background-color: #1976d2; padding-left: 10px;">
  <div style="padding: 5px;"><button [routerLink]="['/']">Home</button></div>
  <div style="padding: 5px;"><button [routerLink]="['/bowl-schedule']">Schedule</button></div>
  <div style="padding: 5px;"><button [routerLink]="['/my-picks']">My Picks</button></div>
  <div style="padding: 5px;"><button [routerLink]="['/leaderboard']">Leaderboard</button></div>
</div>
</div>



