<h1>2019-20 Bowl Schedule</h1>


<div style="overflow-x:auto;">
  <table class="">
    <thead>      
        <th>Bowl Game</th>
        <th>Date</th>
        <th>Location</th>
        <th>Visitor</th>
        <th>Home</th>
        <th>Spread</th>
        <th>O/U</th>     
    </thead>
    <tbody>
      <tr>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
      </tr>
      <tr>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
      </tr>
      
      </tbody>
  </table>
</div>